@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body{
width:100vw;
height:642px;
font-family:Inter;
display:flex;
justify-content: space-around;
margin:auto;
}
.fifty-Off-desktop{
    display:none
}
.container{
border:1px solid black;
padding: 15px 0;
box-shadow: 0px 51px 114px rgba(199, 199, 199, 0.15), 0px 15.375px 34.3677px rgba(199, 199, 199, 0.0895633), 0px 6.38599px 14.2746px rgba(199, 199, 199, 0.0605927), 0px 2.30969px 5.16283px rgba(199, 199, 199, 0.0352376); ;
border-radius: 12px;
position:relative;
Width:100%;
height:375px;
margin:0 35px;
margin-top:42px;
border-radius :12px;
display:flex;
flex-direction:column;
justify-content: center;
padding:0 0 53px 0;
}
.best-choice{
    position:absolute;
    top:-16px;
    left:-6px;
}
.best-value{
    display:none;
}
.orange{
    position:absolute;
    left:-6px;
    top:6px;
}
.zero-one{
    position: absolute;
    width: 100px;
    height: 77px; 
    right: -20px;
    top: -38px;
    font-weight: 700;
    font-size: 64px;
    color: rgba(85, 98, 110, 0.25);
}
.sony-p-3{
    display:none;
}

.logo-and-rank{
    display:flex;
    justify-content:center; 
}
.lg-logo{
    margin-left:60px;
    margin-top:120px;
}
.sony{
    margin-left:60px;
    font-weight:400;
    font-size: 14px; 
    color: #626E79;
}
.stars-and-rank{
    position:relative;
    margin-top:135px;
    margin-left:16px;
    height:20vh;
}
.rankNumber{
    margin-top:10px;
    font-weight:700;
    font-size:24px;
    margin-left: 10px;
    color:rgb(65, 63, 63);
    Offset: 0px, 51px  
}
.svg-i{
   position:absolute;
   left:52px;
   top:1px;
}
.description{
    display:flex;
    flex-direction:column;
}
.stars{
    margin-bottom: 10px;

}

.fifty-Off{
    width:71px;
    height:21px;
    padding:2px 4px 2px 4px;
    background-color:#55A0EA;
    fill:solid;
    color:white;
    font-size:15px;
    border-radius:4px;
    margin-left:24px;
    display:flex;
    justify-content:center;
    align-items:center; 
}
.fifty-off-desktop{
    display:none
}
.sony-p{
    font-size:14px;
    margin-left:24px;
}
.sony-p-2{
    display:none;
}
.sony-p-3{
    display:none;
}
.view-deal{
    width:290px;
    height:42px;
    background-color:#0B76E0;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    letter-spacing:0.2px;
    color:white;
    border-radius:10px;
    margin:0 20px;
}
.on-amazon{
   margin-left:24px;
   font-weight: 400;
   font-size: 14px; 
   color: #55626E;
} 
.blue{
    display: none;
}
.sony2{
    display:none;
}
.show-more-div{
    display:none;
}
.show-more-div-desktop{
    display:none;
}
/* /tablet */
@media screen and (min-width:720px){
    body{
        justify-content: space-around;
        width:100vw;
        height:378px; 
        font-family:Inter;
        display:flex;
        margin:auto;
    }
    .container{
        height:132px;
        position:relative;
        Width:100%;
    }
    .lg{
        position: absolute;
        height: 110px;
        left: 15px;
        top: 20px;
        min-width:10%;
        max-width:80%;
    }
    .sony-p{
       display:none;
    }
    .br2{
        display:none;
    }
    .sony-p-3{
        display:none;
    }
    .description{
        position:absolute;
        display: flex;
        min-width:40%;
        max-width:60%;
        height:100%;
        margin-left:130px;
        margin-top:50px; 
        font-weight:500;
        font-size:0.8rem;  
        color: #55626E;
        right:200px;       
    }ֿ
    .br{
        display:none;
    }
    .deal-and-amazon{
        position:absolute;
        display: flex; 
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        right:-10px;
        top:60px;
        min-width:30%;
        max-width:70%; 
    }
    .view-deal{
        width: 110px;
        height: 30px;
        background-color:#0B76E0;
        padding: 4px 40px; 
        display:flex; 
        text-align:center;
        letter-spacing:0.2px;
        color:white;
        border-radius:12px;   
    }
    .fifty-Off{
        display:none;
    }
    .fifty-off-desktop{
        display:none
    }
    .zero-one{
        top: -30px;
        font-weight: 700;
        font-size: 50px;
    }
    .stars-and-rank{
        position: absolute;
        width: 65px;
        height: 50px;
        bottom:80px;
        right:230px;
    }
    .on-amazon{
        margin-left:24px;
        font-weight: 400;
        font-size: 12px; 
        color: #626E79;
     } 
     .blue{
        position:absolute;
        top:9px;
        left:-6px;
        display:block;
   
    }
    .orange{
        display:none;
    }
    .sony{
      display:none;
    }
    .sony2{
        font-weight: 400;
        font-size: 14px;
        display:flex;
        margin-left:25px; 
        letter-spacing: 0.2px;
        margin-top:-9px;
        color: #626E79;
    }
    .best-choice{
        display:none;
    } 
    .best-value{
        display:block;
        position:absolute;
        width: 140px;
        height: 32px;
        left: -6px;
        top:-15px;
    } 
    .best-img{
        width: 140px;
        height: 32px;
    }
    .show-more-div{
        display:block;
        margin-left:23px;
        margin-top:auto;
        margin-bottom: 16px;
    }  
    .show-more-div-desktop{
        display:none;
    } 
}
@media screen and (min-width:1024px){
 body{
     /* width:100vw; */
     height:176px;
     font-family:Inter;
     display:flex;

margin:auto;
 }
 .container{
    height:132px;
    position:relative;
    Width:1024px;
}
.description{
    position:absolute;
    display: flex;
    justify-content:flex-start;
    align-self: flex-start;
    width:40%;
    height:100%;
    left:202px;
    margin-top:50px; 
    font-weight:500;
    font-size:0.8rem;  
    color: #55626E;
    /* right:200px;     */

}
.zero-one{
   
    line-height: 135%;
    font-style: normal;
 
    width: 95px;
    height: 108px;
    left: 12px;
    top: 34px;
    /* margin-top:100px; */
    font-weight: 700;
    font-size: 80px;
    color: rgba(85, 98, 110, 0.25);
}
.lg{
    position: absolute;
    height: 75px;
    left: 500px;
    top: 50px;
    min-width:15%;
    max-width:70%;
}
.fifty-Off-desktop{
    display:block;
    width: 62px;
height: 20px;
    padding:2px 4px 2px 4px;
    background-color:#55A0EA;
    fill:solid;
    color:white;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;
    border-radius:4px;
    margin-left:24px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center; 
}
.show-more-div{
    display:none;
}
.show-more-div-desktop{
    display:block;
     margin-left:180px;
     margin-top:-67px;
     font-weight: 400;
     font-size: 14px; 
     color: #55626E;
}
.deal-and-amazon{
    position:absolute;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    right:-1px;
    top:60px;
    min-width:30%;
    max-width:70%; 
}
.on-amazon{
    margin-right:150px;
    font-weight: 400;
    font-size: 14px; 
    margin-bottom:50px;
    color: #55626E;
 }
 .view-deal{
    width: 246px;
    height: 44px;
    border:none;
    background-color:#0B76E0;
    padding: 4px 40px; 
    display:flex; 
    font-weight: bold;
    text-align:center;
    letter-spacing:0.2px;
    color:white;
    border-radius:12px;
    margin-left:50px;   
}
.stars-and-rank{
    position: absolute;
    width: 65px;
    height:50px;
    bottom:80px;
    right:300px;
}

.lg{
    position: absolute;
    width:202px;
    height:128px;
    left: 131px;
    top: 20px;
}
.sony-p-3{
    display:block;
    font-style: normal;
    width: 277px;
    height: 44px;
    font-weight:500;
    font-size: 16px;   
    margin-left:24px;
    margin-top:15px;
    line-height: 140%;
 
   letter-spacing: 0.2px; 
   color: #55626E;

}
.rankNumber{
 width: 52px;
height: 39px;
font-weight: 700;
font-size: 32.8165px;
color: #55626E;
}
.svg-i{
    position: absolute;
    left: 57px;
    top: 5px;
 }
 .star-size{
    width: 11.08px;
height: 11.08px;
 }
 .stars{
    margin-top:8px;
    width: 80px;
    height: 11.08px;  
 }
}